:root {
  --main-text: #2e2f42;
  --second-text: #434455;
  --accent-color: #4d5ae5;
  --white-text: #ffffff;
  --footer-text: #e7e9fc;
  --gray-background: #f4f4fd;
  --green-color: #31d0aa;
  --cust-color: #8e8f99;
}
/* reset and base styles */
h1,
h2,
h3,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  font-family: inherit;
}

body {
  font-family: Roboto, sans-serif;
  color: var(--main-text);
  background: var(--white-text);
  letter-spacing: 0.02em;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.title {
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
}

/* header */
.header {
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
}

.logo {
  display: block;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-color);
}

.logo-header {
  margin-right: 77px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.logo-black {
  color: var(--main-text);
}

.logo-white {
  color: var(--gray-background);
}

.flex-list {
  display: flex;
}

.flex-list li:not(:last-child) {
  margin-right: 40px;
}

.nav-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.contacts {
  margin-left: auto;
}

.contacts-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  font-size: 16px;
  line-height: 1.5;
  color: var(--second-text);
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}
/* hero */
.hero {
  padding-top: 192px;
  padding-bottom: 192px;
  width: 1440px;
  margin: 0 auto;
  text-align: center;
  background: var(--main-text);
  color: var(--white-text);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-title {
  margin-bottom: 48px;
  font-size: 56px;
  line-height: 1.07;
}

.button {
  padding: 16px 32px;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  color: var(--white-text);
  font-weight: 500;
}

.button:hover,
.button:focus {
  background: #404bbf;
}

/* features */

.features-list {
  display: flex;
}

.features-list li:not(:last-child) {
  margin-right: 24px;
}
.features-title {
  margin-bottom: 8px;
  font-size: 20px;
  line-height: 1.2;
}

.features-text {
  font-size: 16px;
  line-height: 1.5;
  color: var(--second-text);
}

.icons-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
  width: 264px;
  height: 112px;
  background: var(--gray-background);
  border-radius: 4px;
}
/* about */
.about {
  padding-bottom: 120px;
}

.about-list {
  display: flex;
  gap: 24px;
}

/* team */
.team {
  background: var(--gray-background);
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-card {
  text-align: center;
  background: var(--white-text);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.team-description {
  padding-top: 32px;
  padding-bottom: 32px;
}

.team-card h3 {
  margin-bottom: 8px;
  font-size: 20px;
  line-height: 1.2;
}

.team-card p {
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 1.5;
  color: var(--second-text);
}

.soc-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.soc-item {
  width: 40px;
  height: 40px;
}

.soc-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: var(--accent-color);
}

/* customers */
.cust-title {
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.cust-list {
  display: flex;
  gap: 24px;
}

.cust-item {
  width: 168px;
  height: 88px;
}

.cust-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid var(--cust-color);
  border-radius: 4px;
  color: var(--cust-color);
}

.cust-link:hover,
.cust-link:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
}
.cust-icon {
  fill: currentColor;
}
/* footer */
.footer {
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-container {
  display: flex;
}

.footer-first {
  margin-right: 120px;
}

.logo-footer {
  margin-bottom: 16px;
}

.footer-soc p {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.5;
  color: var(--white-text);
}

.footer-soc .soc-list {
  gap: 16px;
}

.footer-soc .soc-link {
  background: rgba(255, 255, 255, 0.1);
}

.footer-soc .soc-link:hover,
.footer-soc .soc-link:focus {
  background: var(--green-color);
}

/* portfolio */
.filter {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}
.button-portfolio {
  padding: 12px 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--accent-color);
  background: var(--gray-background);
  border: 1px solid var(--footer-text);
  border-radius: 4px;
}

.button-portfolio:hover,
.button-portfolio:focus {
  color: var(--white-text);
  background: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border: 1px solid var(--accent-color);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}

.portfolio-list a {
  display: block;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.portfolio-list a:hover,
.portfolio-list a:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-description {
  padding: 32px 16px;
  border: 0.5px solid var(--gray-background);
  border-top: transparent;
}

.portfolio-name {
  margin-bottom: 8px;
  font-size: 20px;
  line-height: 1.2;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
}
.footer {
  background: var(--main-text);
}

.footer-text {
  width: 264px;
  color: var(--footer-text);
  line-height: 1.5;
}
